.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
ul,
ol {
  list-style: none;
}
a span {
  font-size: 0.6rem;
}

.header .header__logo {
  font-size: 2.5rem;
  color: rgb(237, 99, 54);
  cursor: pointer;
}

.header__menu input {
  display: none;
}
.header__menu input:checked ~ .menu__container {
  left: 0;
}
.header__menu label {
  display: block;
  height: 2rem;
  margin-right: 0.4rem;
}
.header__menu label > i {
  font-size: 2rem;
}

.header__menu .menu__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: -100%;
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: #333;
  padding: 1rem 0.5rem 0 1rem;
  transition: all 0.5s ease;
}

.header__menu .menu__container .menu__list li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.header__menu .menu__container .menu__list li a.list__item--last {
  margin: 0;
  padding: 0.5rem;
  border: 5px solid rgb(237, 99, 54);
  border-radius: 0px 40px 40px 40px;
}

.header__menu .menu__container .menu__list li a.list__item--last:hover {
  color: white;
  background-color: rgb(237, 99, 54);
  transition: all 0.15s ease;
}

.header__menu .menu__container .menu__list li ul {
  display: none;
  min-width: 200px;
  margin-left: 1.5rem;
}

.header__menu .menu__container .menu__list li:hover ul {
  display: block;
  transition: all 0.2s ease;
}

.header__menu .menu__container .menu__list li ul li a {
  margin: 0.3rem 0;
}

.header__menu .menu__container .menu__list li ul li:last-child a {
  margin-bottom: 1.3rem;
}

.header__menu .menu__container .menu__list a:hover {
  color: rgb(237, 99, 54);
  border-bottom: 3px solid rgb(237, 99, 54);
}

/* ---------- Media Querie ---------- */

@media screen and (min-width: 1440px) {
  .header {
    height: 12vh;
    padding: 0 3rem;
  }
  a span {
    font-size: 1rem;
  }
  .header .header__logo {
    font-size: 7rem;
  }
  .header__menu label {
    display: none;
  }
  .header__menu .menu__container {
    height: 12vh;
    width: 80%;
    position: absolute;
    left: 280px;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
  }
  .header__menu .menu__container .menu__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header__menu .menu__container .menu__list li a {
    color: black;
    font-weight: bolder;
    font-size: 2rem;
  }
  .header__menu .menu__container .menu__list li a.list__item--last {
    padding: 1rem;
    border-radius: 0px 100px 100px 100px;
  }
  .header__menu .menu__container .menu__list li ul {
    position: absolute;
    background-color: white;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
  }
}
